* {
	box-sizing: border-box;
}

.container {
	float: left;
	background-color: #505050;
}

.flex-container {
	display: flex;
	flex-wrap: nowrap;
}

.box {
	padding: 10px;
}

.h-spacer {
	float: left;
	padding: 2px;
}

.v-spacer {
	clear: both;
	padding: 2px;
}

h1 {
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	margin: 0px;
	padding: 5px;
	background-color: DarkRed;
}

h2 {
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	margin: 0px;
	padding: 5px;
}

.stat-header {
	background-color: DarkGoldenRod;
}

.gain-header {
	background-color: DarkGreen;
}

.loss-header {
	background-color: FireBrick;
}

.big-text {
	font-size: 36px;
	padding: 10px;
	text-align: center;
	color: white;
}

.twentyfive { width: 25%; }
.thirtythree { width: 33%; }
.fifty { width: 50%; }
.seventyfive { width: 75%; }

table {
	font-size: 12px;
	color: white;
	text-align: left;
	width: 100%;
	border-collapse: collapse;
}

td {
	padding: 3px;
}

.action-button {
	font-size: 12px;
	padding: 3px;
	color: white;
	background-color: CornflowerBlue;
	border: none;
	cursor: pointer;
}

.row-header-name {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	text-transform: uppercase;
	text-align: center;
}